<a href="https://colab.research.google.com/github/Lwilliams121/NourishmentNinjas2022/blob/main/OfficialFinalDataCompare.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [48]:
import pandas as pd
import seaborn as sns

In [49]:
data = pd.read_csv('/content/drive/MyDrive/Colab_Notebooks/DataSet/NC_FoodSource_Data.csv', low_memory=False)

In [50]:
data = data.drop(["DATE_CREATED","DATE_EDITED"],axis =1)
data.head()

,FEATURE_ID,Name,Type,COUNTY_NAME,City,Address
0,980026,Academy Heights School,School,Moore,West End,"143 Douglas Ave, West End, NC 27376, USA"
1,980028,Acme Delco Middle School,School,Columbus,Delco,"26133 Andrew Jackson Hwy, Delco, NC 28436, USA"
2,980031,Acorn Ridge Church,Church,Moore,Robbins,"299 Acorn Ridge Rd, Robbins, NC 27325, USA"
3,980042,Adams Creek School,School,Craven,Havelock,"101 Belangia Rd, Havelock, NC 28532, USA"
4,980047,Adams Elementary School,School,Wake,Cary,"805 Cary Towne Blvd, Cary, NC 27511, USA"

In [51]:
data.columns = data.columns.str.replace(' ','')

In [52]:
data.groupby('Type').count()[['Address']]

                 Address
Type
Building            1166
Census                82
Church              3476
Civil                578
Hospital              80
Locale               742
Populated Place     2626
Post Office          141
School              1084

In [80]:
data = pd.read_csv('/content/drive/MyDrive/Colab_Notebooks/DataSet/NC_FoodSecurity_County.Child - NC_FoodSecurity_County.Child.csv', low_memory=False)
data = data.drop(["CD","State","Revised Projections March 2021 VLFS % Change","Revised Projections March 2021\nAdjusted Annual Unemployment Change","Revised Projections March 2021 Child VLFS #","Revised Projections March 2021 Child VLFS % Change","Revised Projections March 2021 Child VLFS # Change"],axis=1)
data.head()

,FIPS,Total Population,2019 Very Low Food Security %,2019 VLFS #,Revised Projections March 2021\nVLFS %,Revised Projections March 2021 VLFS #,Revised Projections March 2021 VLFS # Change,Total Child Population,2019 Child VLFS %,2019 Child VLFS #,Revised Projections March 2021 Child VLFS %
0,3701,"763,500",0.052,"39,360",0.057,"43,280","3,930","156,049",0.047,"7,390",0.054
1,3702,"888,547",0.044,"39,370",0.047,"41,720","2,350","220,529",0.038,"8,460",0.042
2,3703,"761,753",0.055,"41,540",0.057,"43,410","1,870","164,130",0.056,"9,190",0.059
3,3704,"873,270",0.037,"32,400",0.042,"36,880","4,480","189,774",0.026,"5,020",0.033
4,3705,"765,013",0.058,"44,350",0.061,"46,400","2,050","156,100",0.057,"8,910",0.061

In [54]:
data = pd.read_csv('/content/drive/MyDrive/Colab_Notebooks/DataSet/NC_2021.2019_Data.csv', encoding='latin-1',low_memory=False)
data = data.drop(["State","Low Threshold in state","Low Threshold Type","High Threshold in state","High Threshold Type","% FI ó Low Threshold","% FI Btwn Thresholds","% FI > High Threshold"],axis =1)
data.head()

,FIPS,"County, State",2019 Food Insecurity Rate,# of Food Insecure Persons in 2019,2019 Child food insecurity rate,# of Food Insecure Children in 2019,% food insecure children in HH w/ HH incomes below 185 FPL in 2019,% food insecure children in HH w/ HH incomes above 185 FPL in 2019,2019 Cost Per Meal,2019 Weighted Annual Food Budget Shortfall
0,37001,"Alamance County, North Carolina",13.7%,"22,360",19.2%,"7,020",83%,17%,$3.15,"$12,031,000.00"
1,37003,"Alexander County, North Carolina",14.3%,"5,320",19.5%,"1,480",94%,6%,$2.92,"$2,657,000.00"
2,37005,"Alleghany County, North Carolina",18.5%,"2,030",26.8%,510,96%,4%,$2.83,"$983,000.00"
3,37007,"Anson County, North Carolina",14.5%,"3,600",25.5%,"1,230",63%,37%,$2.84,"$1,748,000.00"
4,37009,"Ashe County, North Carolina",15.4%,"4,140",19.4%,940,85%,16%,$2.92,"$2,065,000.00"